@model AddSensorRepairRequestViewModel

@{
    ViewData["Title"] = "Add Sensor Repair Request";
}

<h1>@ViewData["Title"]</h1>
<Div asp-validation-summary="All" class="text-danger"> </Div>
<form asp-controller="SensorRepairRequest" asp-action="AddSensorRepairRequest" method="post">

    <div class="form-group">
        <label> Sensor Location </label>
        <select asp-for="SensorLocationID" asp-items="ViewBag.allSensorLocations" class="form-control" id="SensorLocationID">
            <option value="">None Selected </option>
        </select>

    </div>
    <div class="form-group">
        <label>
            Select Engineer
        </label>
    <select asp-for="EngineerId" asp-items="ViewBag.allEngineers" class="form-control" id="Id"> <option value="">None Selected </option> </select>
    </div>
    <div class="form-group">
        <label for="dateSensorRepairRequested">Date Sensor Repair Requested</label>
        <input type="date" id="dateSensorRepairRequested" name="DateSensorRepairRequested" asp-for="DateSensorRepairRequested" class="form-control" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="Description" asp-for="Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add Sensor Repair Request</button>
</form>


